<!DOCTYPE html>
<html>
  <head>
    <title>Rem32</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('android-chrome-192x192.png') %>

    <script type="text/javascript">
      window.userIcon = '<%= image_url('userpic.png') %>';
      window.messageIcon = '<%= image_url('messagepic.png') %>';
      window.notificationIcon = '<%= image_url('notificationpic.png') %>';
      window.barIcon = '<%= image_url('bar.png') %>';
      window.crownIcon = '<%= image_url('crown.png') %>';
      window.leafIcon = '<%= image_url('leaf.png') %>';
      window.pencilIcon = '<%= image_url('pencil.png') %>';
      window.backgroundImage = '<%= image_url('500px-background-image.jpg') %>';
      window.devicesImg = '<%= image_url('devices.png') %>';
      window.appStoreIcon = '<%= image_url('download_app_store.png') %>';
      window.googlePlayIcon = '<%= image_url('get_google_play.png') %>';
      window.uploadIcon = '<%= image_url('upload_icon.png') %>';
      window.infoIcon = '<%= image_url('info_icon.png') %>';
      window.arrowLeftIcon = '<%= image_url('arrow-pointing-left.png') %>';
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
