<!DOCTYPE html>
<html>
  <head>
    <title>Rem32</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.userIcon = '<%= image_url('userpic.png') %>';
      window.messageIcon = '<%= image_url('messagepic.png') %>';
      window.notificationIcon = '<%= image_url('notificationpic.png') %>';
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
