<!DOCTYPE html>
<html>
  <head>
    <title>Rem32</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('android-chrome-192x192.png') %>

    <script type="text/javascript">
      window.userIcon = '<%= image_url('userpic.png') %>';
      window.messageIcon = '<%= image_url('messagepic.png') %>';
      window.notificationIcon = '<%= image_url('notificationpic.png') %>';
      window.barIcon = '<%= image_url('bar.png') %>';
      window.crownIcon = '<%= image_url('crown.png') %>';
      window.leafIcon = '<%= image_url('leaf.png') %>';
      window.pencilIcon = '<%= image_url('pencil.png') %>';
      window.backgroundImage = '<%= image_url('500px-background-image.jpg') %>';
      window.devicesImg = '<%= image_url('devices.png') %>';
      window.appStoreIcon = '<%= image_url('download_app_store.png') %>';
      window.googlePlayIcon = '<%= image_url('get_google_play.png') %>';
      window.uploadIcon = '<%= image_url('upload_icon.png') %>';
      window.infoIcon = '<%= image_url('info_icon.png') %>';
      window.editorChoiceImage1 = '<%= image_url('banner-editor-desktop.png') %>';
      window.editorChoiceImage2 = '<%= image_url('banner-editor-tablet.png') %>';
      window.editorChoiceImage3 = '<%= image_url('banner-editor-mobile.png') %>';
      window.editorImage1 = '<%= image_url('editor-image-1.png') %>';
      window.editorImage2 = '<%= image_url('editor-image-2.png') %>';
      window.editorImage3 = '<%= image_url('editor-image-3.png') %>';
      window.editorImage4 = '<%= image_url('editor-image-4.png') %>';
      window.editorImage5 = '<%= image_url('editor-image-5.png') %>';
      window.editorImage6 = '<%= image_url('editor-image-6.png') %>';
      window.editorImage7 = '<%= image_url('editor-image-7.png') %>';
      window.editorImage8 = '<%= image_url('editor-image-8.png') %>';
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
